<div>
  <div class = "tab-container">
    <label class="control-label" for="reader_id">Reader ID</label>
  <div class = "dropdown-reader">
    <select class="btn btn-default dropdown-toggle" type="button" id="readers-container" size = "10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="caret"></span>
    </select>
  </div>
  <div class="form-container">
    <form name="myForm" id="submitForm" >
      <div class="form-group">
        <label class="control-label" for="url">URL</label>
        <input type="text" class="form-control" name={{url}}>
      </div>

      <div class="form-group">
        <label class="control-label" for="reader_id">Reader ID</label>
        <input type="text" class="form-control" name={{reader_id}}>
      </div>

      <div class="form-group">
        <label class="control-label" for="name">Name</label>
        <input type="text" class="form-control" name={{name}}>
      </div>

      <div class="form-group">
        <label class="control-label" for="description">Description</label>
        <input type="text" class="form-control" name={{description}}>
      </div>

      <div class="form-group">
        <label class="control-label" for="user_id">User ID</label>
        <input type="text" class="form-control" name={{user_id}}>
      </div>

      <div class="form-group">
        <div class="sumbit">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </div>
  </div>
</form>
</div>
</div>
</div>
